*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: auto;
    width: 50%;
    height: 100vh;
    padding: 10px;
    border:solid 1px goldenrod;
}
.container{
    border-radius: 5px;;
    background-color: #000;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 10rem;
}
.title{   
    text-align: center;
    margin-top: 3rem;
    font-size: 36px;
}
.display{
    color: #FFFFFF;
    text-align: right;
    margin-right: 1rem;
    padding-top: 20px;
    height: 90px;
    font-size: 34px;
}
.btn-layout{
    height: 300px;
    text-align: center;
    
}
.btn {
    border-radius: 50%;
    width: 22%;
    height: 100%;
    margin:1px;
    font-size: 1.5rem;
    background-color: grey;
    color: #FFFFFF;
    border: none;
}
.btn:hover{
    cursor:pointer;
    background-color: darkgray;
}
.calc-btn{
    background-color: orange;
}
.special-btn{
    background-color: lightgrey;
}
.buttons{
    margin: 0.2rem;
    height: 19%;
    border-style: none;
}
.double{
    width: 47.7%;
    border-radius:25px
}