*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 100vh;
}
#wrapper{
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

}

.btn{
    width: 55.5px;
    height: auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    color: aquamarine;
    background-color: black;
}